@model IEnumerable<BlogProject.Models.Teacher>
@{
    ViewBag.Title = "List";
}


<div>There are @Model.Count() teachers in the system.</div>
<div><a href="/Teacher/New">Add new teacher</a></div>
<div>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" placeholder="Type a name here" />
        <input type="submit" value="Search" />
    </form>
</div>
<div>
    @{
        foreach (BlogProject.Models.Teacher Teacher in Model)
        {
            string Url = "/Teacher/Show/" + Teacher.TeacherId;
            <div>
                <a href="@Url">@Teacher.TeacherFName @Teacher.TeacherLName</a>
            </div>
        }
    }

</div>

