@model IEnumerable<BlogProject.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <nav>
        <a href="/Teacher/New">Add new teacher</a>
    </nav>

    <h2> List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" placeholder="Type a name here" />
        <input type="submit" value="Search" />
    </form>
</div>
<div>
    @{
        foreach (var teacher in Model)
        {
        <div class="list-group-item row">
            <div class="col-md-12">
                <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFName @teacher.TeacherLName</a>
            </div>
        </div>
        }
    }

</div>

