
@{
    ViewBag.Title = "New";
}

<h2>New Teacher Interface!</h2>

<form method="POST" action="/Teacher/Create">
    <div class="inputrow">
        <label for="TeacherFname">First Name</label>
        <input type="text" name="teacherfname" />
    </div>
    <div class="inputrow">
        <label for="TeacherFname">Last Name</label>
        <input type="text" name="teacherlname" />
    </div>
    <div class="inputrow">
        <label for="TeacherFname">Employee Number</label>
        <input type="text" name="employeenumber" />
    </div>
    <div class="inputrow">
        <input type="submit" value="Add Teacher" />
    </div>
</form>

