@model BlogProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id=" =containershow">

    <nav>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Edit/@Model.TeacherId">Edit</a>
    </nav>
    <h2>Show Teacher</h2>
    <div>First Name: @Model.TeacherFName</div>
    <div>Last Name: @Model.TeacherLName</div>
    <div>Employee Number: @Model.EmployeeNumber</div>

</div>

