@model BlogProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>Show Student</h2>
<a href="/Student/DeleteConfirm/@Model.StudentId">Delete This Student</a>

<div>First Name: @Model.StudentFName</div>
<div>Last Name: @Model.StudentLName</div>


