@model BlogProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>Show Student</h2>

<div>First Name: @Model.StudentFName</div>
<div>Last Name: @Model.StudentLName</div>
<div>Student Number: @Model.StudentNum</div>
<div>Enrol Date: @Model.StudentEnrolDate</div>


